<h1><%= @project.name %></h1>

<% if flash[:notice] %>
    <p class="flash" style="color: green"><%= flash[:notice] %></p>
<% end %>

<ul>
    <% @project.todos.each do |todo| %>
        <li>
            <%= link_to todo.name, todo_path(todo) %>
            <% if todo.completed %>✅<% end %>
        </li>
    <% end %>
</ul>

<div>
    <%= link_to 'Edit Project', edit_project_path(@project) %> |
    <%= link_to "Back to projects", projects_path %>

    <%= button_to 'Delete Project', project_path(@project), method: :delete %>
</div>
