<div id="<%= dom_id todo %>" class="border-b py-4">
  <p class="mb-2">
    <strong class="text-gray-700">Name:</strong>
    <span class="text-gray-900"><%= todo.name %></span>
  </p>

  <p class="mb-2">
    <strong class="text-gray-700">Description:</strong>
    <span class="text-gray-900"><%= todo.description %></span>
  </p>

  <p class="mb-2">
    <strong class="text-gray-700">Completed:</strong>
    <span class="text-gray-900">
      <i class="fas <%= todo.completed ? 'fa-check-circle text-green-500' : 'fa-times-circle text-red-500' %> ml-2"></i>
    </span>
  </p>

  <p class="mb-2">
    <strong class="text-gray-700">Priority:</strong>
    <span class="text-gray-900"><%= todo.priority %></span>
  </p>

  <p class="mb-2">
    <strong class="text-gray-700">Project:</strong>
    <%= link_to todo.project.name, project_path(todo.project), class: "text-indigo-600 hover:text-indigo-800" %>
  </p>
</div>
